<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SELISE CRICCARD</title>
    <meta name="description" content="SELISE CRICCARD">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="gap-top-m5 btn btn-primary btn-lg pull-right" ui-sref="start({matchId:Match.MatchID})">{{'BACK_GAME'|translate}}</a>
            <h3 class="gap-m0">
                <span class="text-uppercase">{{Match.FirstTeamName}}</span> - {{Match.TotalRun}}
                <small class="d-block">
                    <span data-lang="VS">VS</span>
                    <span class="text-uppercase">{{Match.SecondTeamName}}</span>
                </small>
            </h3>
        </div>
        <hr class="gap-m0">
        <div class="panel-body" hello>
            <div class="score-overs" ng-repeat="over in Overs">
                <div class="strike"><span>{{'OVER'|translate}} {{over.OverNumber}} ({{over.Details.length}} Ball)</span></div>
                <ul class="list-unstyled score-list">
                    <li ng-repeat="item in over.Details">
                        <a ui-sref="review({matchId:item.MatchID,teamId:item.TeamID,overnumber:item.OverNumber,ballnumber:item.BallNumber})" class="clearfix"><span class="score-b">{{over.OverNumber}}.{{item.BallNumber}}</span><span class="score-c">{{item.Description}}</span><span class="score-r">{{item.RunTaken}} Run</span></a>
                    </li>
                </ul>
            </div>
            <!--<overview OverWithDetails="Overs"></overview>-->
            <div ng-show="OverDetails.length==0">
                <div class="text-uppercase strike"><span data-lang="PLAY_STARTED">{{'PLAYNOW'|translate}}</span></div>
            </div>
            <button class="gap-top-m30 btn btn-block" ng-show="OverDetails.length>=12" ng-click="LoadMore()"></button>
        </div>
        <div class="panel-footer clearfix">
            <div class="btn-group pull-right" id="langChange">
                <button ng-click="changeLang('en')" class="btn btn-default active">{{'ENGLISH'|translate}}</button>
                <button ng-click="changeLang('de')" class="btn btn-default">{{'GERMAN'|translate}}</button>
            </div>
        </div>
    </div>